<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
      <h2>All Blogs</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis soluta
        quos est eveniet natus cupiditate, sit laborum voluptates nostrum
        officiis deserunt modi maxime placeat enim magnam explicabo ab rerum.
        Odio.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis soluta
        quos est eveniet natus cupiditate, sit laborum voluptates nostrum
        officiis deserunt modi maxime placeat enim magnam explicabo ab rerum.
        Odio.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis soluta
        quos est eveniet natus cupiditate, sit laborum voluptates nostrum
        officiis deserunt modi maxime placeat enim magnam explicabo ab rerum.
        Odio.
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
